<ion-header>
  <ion-toolbar>
    <ion-title>{{ modoEdicion ? 'Editar Cliente' : 'Nuevo Cliente' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="clienteEditando.nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input [(ngModel)]="clienteEditando.apellidos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input [(ngModel)]="clienteEditando.telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="clienteEditando.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Ciudad</ion-label>
      <ion-input [(ngModel)]="clienteEditando.ciudad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Saldo</ion-label>
      <ion-input [(ngModel)]="clienteEditando.saldo"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="modoEdicion ? clickBotonModificar(clienteEditando) : clickBotonAnadir(clienteEditando)">
    {{ modoEdicion ? 'Modificar' : 'Guardar' }}
  </ion-button>  
  
  <ion-button *ngIf="modoEdicion" expand="full" color="danger" (click)="confirmarBorrado(id)">
    Borrar Cliente
  </ion-button>  
</ion-content>
