<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-list>
  <ion-item *ngFor="let documentCliente of arrayColeccionClientes" (click)="verDetalleCliente(documentCliente.id)">
    <ion-grid>
      <ion-row>
        <h2>{{ documentCliente.data.nombre }} {{ documentCliente.data.apellidos }}</h2>
      </ion-row>
       <ion-row>
        <p>{{ documentCliente.data.telefono }}</p>
      </ion-row>
      <ion-row>
        <p>{{ documentCliente.data.email }}</p>
      </ion-row>
      <ion-row>
        <p>{{ documentCliente.data.ciudad }}</p>
      </ion-row>
      <ion-row>
        <p>{{ documentCliente.data.saldo }}</p>
      </ion-row> 
    </ion-grid>
  </ion-item>
</ion-list>
</ion-content>
